body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    /* background-image: url("../imagens/chinese-traditional-oriental-ornament-background-pattern-seamless-vector.jpg"); */
    background-color: rgb(192, 39, 39);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
main{
    flex: 1;
    background-color: #e6cbcb;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    align-self: center;
    padding: 10px;

}
article{
    background-color: rgb(59, 131, 63);
    sizing: border-box;
    height: 95%;
    width: 40vw;
}


footer{
    background-color: rgb(192, 39, 39);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 4;
}
a{
    width: 100%;
    text-align: center;
    height: 50px;
}
nav a:hover{
    background-color: rgb(102, 9, 9);
}